:root {
  --primary: #003c5e;
  --secondary: #17a99a;
  --light: #effdf5;
  --dark: #2b3940;
  --dorado: #efb810;
  --light2: #cce5ff;
  --light3: #f0ebd7;
  --bs-success: #9FCC2E;
}
.bg-success{
  background-color: var(--bs-success) !important;
}
.bg-light2 {
  background-color: var(--light2);
}

.bg-light3 {
  background-color: var(--light3);
}

.header__box .info__box {
  list-style: none;
  height: 100%;
  margin: unset;
  align-items: center;
}

.header__box .info__box .item__info {
  padding: 6px;
  color: #fff;
}

.header__box .info__box .item__info:hover {
  color: #999;
  cursor: pointer;
}

.social-box {
  display: flex;
  margin: unset;
  padding: unset;
}

.social-box .social-item {
  list-style: none;
  width: 26px;
  height: 26px;
  align-self: center;
  background-color: #fff;
  margin: 4px 4px;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 30%);
  transition-property: background-color;
  transition-duration: 0.5s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition-duration: 0.5s;
}

.social-box .social-item:nth-child(1) {
  background-color: #007ab7;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.social-box .social-item:nth-child(2) {
  background-color: #02aeea;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.social-box .social-item:nth-child(3) {
  background-color: #00bd09;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.social-box .social-item:nth-child(4) {
  background-color: #f60000;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.social-box .social-item:nth-child(5) {
  background-color: #000000;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.social-box .social-item:nth-child(6) {
  background-color: #f98f07;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.social-box .social-item:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.social-box .social-item a {
  width: 26px;
  height: 26px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.social-box .social-item a i {
  font-size: 16px;
  color: #fff;
}

.container-mesadepartes__items em {
  font-family: "Shadows Into Light", cursive !important;
  font-size: 1.4rem;
}

.btn-sp {
  background-color: var(--secondary);
}

.text-teme {
  color: #999;
}

.text-justify {
  text-align: justify;
}

.border-bottom-style {
  border-bottom: solid 3px var(--primary);
}

.card-title {
  font-size: 13px !important;
}

.card__date span {
  font-size: 12px !important;
}

.container__com {
  min-height: 180px;
}

.container__com .img__com {
  width: 100%;
  height: 160px;
  border: solid 3px var(--secondary);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

input:focus {
  border-color: var(--primary) !important;
  box-shadow: none !important;
}

button:focus {
  border-color: var(--secondary) !important;
  box-shadow: none !important;
}

textarea:focus {
  border-color: var(--primary) !important;
  box-shadow: none !important;
}

.btn-rounded {
  border-radius: 6px !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}

.btn-secondary {
  background-color: var(--secondary) !important;
  border: var(--secondary) !important;
  font-weight: initial !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

@media (max-width: 720px) {
  .texto {
    font-size: 12px;
  }
}
.text-secondary{
  color: var(--secondary) !important;
}

.page-item{
  padding: inherit !important;
  margin: inherit !important;
  border:none !important;
}
.page-link:focus{
 color: white !important;
 box-shadow: none !important;
}
.page-link:hover{
  color: #000000 !important;
}
td{
  font-size: 12px !important;
  font-family: sans-serif;
}

table .selected td {
    color: white !important;
    background-color: #eeeeee !important;
    box-shadow: initial;
}
.access__direct img{
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.access__direct img:hover{
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
}